@media screen and(min-width: 1000px) {
    body {
        background-color: darkgray;
        display: grid;
        justify-content: center;
      .convert-section {
        display: grid;
        grid-template-columns: auto;
        width: 65vw;
        height: 350px;
        background-image: linear-gradient(to top right, rgb(230, 107, 107), rgb(236, 66, 66));
        header {
            display: grid;
            grid-template-columns: auto auto;
            padding-left: .5vw;
            padding-right: .5vw;
            .date {
                color: white;
                font-family: 'Noto Sans', sans-serif;
                font-size: 16px;
                font-weight: 700;
                justify-self: left;
            }
            .icon {
                width: 4vw;
                justify-self: right;
            }
        }
        h1 {
            text-align: center;
            font-family: 'Noto Sans', sans-serif;
                font-size: 48px;
                color: rgba(255, 255, 255, 0.335);
        }
        .for-mobile {
            display: none;
        }
        .convert-section-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-self: center;
            input {
                width: 12vw;
                height: 6vw;
                border-bottom: 3px solid white;
                background-color: transparent;
                border-top: none;
                border-left: none;
                border-right: none;
                font-family: 'Noto Sans', sans-serif;
                font-size: 48px;
                color: white;
            }
            input:focus {
                outline: none;
            }
            .eth-unit {
                border: none;
                width: 15vw;
                background-color: transparent;
                color: white;
                font-family: 'Noto Sans', sans-serif;
                font-size: 28px;
            }
            .default {
                display: flex;
                flex-direction: row;
                gap: 3vw;
                img {
                    width: 2vw;
                    align-self: center;
                }
            }
            .spans {
                background-color: rgba(157, 70, 70, 0.259);
                color: white;
                font-family: 'Noto Sans', sans-serif;
                font-size: 28px;
                border: none;
                display: none;
                flex-direction: column;
                gap: 1.5vw;
                border-radius: 10px;
                margin-bottom: -5vw;
                width: 13vw;
                height: 12vw;
                .ethers:nth-of-type(1){
                    display: grid;
                    justify-content: center;
                    span {
                        color: rgba(250, 248, 248, 0.516);
                    }
                    span:hover {
                        color: white;
                    }
            }
            .ethers:nth-of-type(2){
                display: grid;
                justify-content: center;
                span {
                    color: rgba(250, 248, 248, 0.516);
                }
                span:hover {
                    color: white;
                }
        }
        .ethers:nth-of-type(3){
            display: grid;
            justify-content: center;
            span {
                color: rgba(250, 248, 248, 0.516);
            }
            span:hover {
                color: white;
            }
    }
            }
        }
      }

      .convert-btn {
        display: grid;
        width: 63vw;
        margin-top: 3vw;
        img {
            width: 4vw;
            justify-self: right;
            z-index: 1;
        }
      }
    
      .result-section {
        background-color: white;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-content: center;
        width: 65vw;
        height: 290px;
        input {
            width: 12vw;
            height: 6vw;
            border-bottom: 3px solid rgb(239, 114, 114);
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            font-family: 'Noto Sans', sans-serif;
            font-size: 48px;
            color: rgb(239, 114, 114);
        }
        input:focus {
            outline: none;
        }
        .eth-unit0 {
                border: none;
                width: 15vw;
                background-color: transparent;
                color: rgb(239, 114, 114);
                font-family: 'Noto Sans', sans-serif;
                font-size: 28px;
            }
            .default0 {
                display: flex;
                flex-direction: row;
                gap: 3vw;
                img {
                    width: 2vw;
                    align-self: center;
                }
            }
            .spans0 {
                background-color: transparent;
                color: rgb(239, 114, 114);
                font-family: 'Noto Sans', sans-serif;
                font-size: 28px;
                border: none;
                display: none;
                flex-direction: column;
                gap: 1.5vw;
                border-radius: 10px;
                width: 13vw;
                height: 12vw;
                .ethers0:nth-of-type(1){
                    display: grid;
                    justify-content: center;
                    span {
                        color: rgb(239, 114, 114);
                    }
                    span:hover {
                        color: rgb(244, 36, 36);
                    }
            }
            .ethers0:nth-of-type(2){
                display: grid;
                justify-content: center;
                span {
                    color: rgb(239, 114, 114);
                }
                span:hover {
                    color: rgb(244, 36, 36);
                }
        }
        .ethers0:nth-of-type(3){
            display: grid;
            justify-content: center;
            span {
                color: rgb(239, 114, 114);
            }
            span:hover {
                color: rgb(244, 36, 36);
            }
    }
            }
      }
    }    
}